.btn,
input,
textarea,
.progress,
.tag-label,
.label,
.badge,
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span,
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span,
.panel,
.panel-heading,
.panel-comments,
.nav-pills > li > a,
.breadcrumb,
.panel > table:last-child,
.panel > .table:first-child {
	border-radius: 10px !important;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
	border-radius: 10px 0px 0px 10px !important;
}

.panel {
	border-radius: 20px 20px 0px 0px !important;
	border: 0px !important;
}
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
	padding-top: 12px;
}

.table-condensed > tbody > tr > td:first-child,
.table-condensed > tbody > tr > th:first-child,
.table-condensed > tfoot > tr > td:first-child,
.table-condensed > tfoot > tr > th:first-child,
.table-condensed > thead > tr > td:first-child,
.table-condensed > thead > tr > th:first-child {
	padding-left: 15px;
}

.btn-group .btn:not(:first-child) {
	margin-left: 6px;
}

.min,
.max {
	overscroll-behavior: none !important;
	overflow-x: clip !important;
}

a {
	color: #4b5669;
}

.panel-default .btn-primary {
	background-color: transparent !important;
	border-style: none !important;
	color: #fff !important;
}

.btn-primary {
	color: #fff;
	background-color: #546474;
	/*border-style: none!important;*/
}

.btn-primary:hover {
	background-color: #38434d !important;
}

.btn-secondary {
	color: #fff;
	background: linear-gradient(
		180deg,
		rgb(38, 49, 67) 0%,
		rgb(99, 85, 134) 100%
	);
	border-radius: 10px;
	height: 37px;
	border: 1px solid;
	border-color: #f28238;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #38434d !important;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
	background-color: transparent !important;
	border-style: none !important;
}

.btn-primary.focus,
.btn-primary:focus {
	background-color: transparent !important;
	border-style: none !important;
}

.secondary-color {
	background-color: #546474 !important;
	color: white;
}

.h1,
.h2,
.h3,
h1,
h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 18px;
	line-height: 18px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.nav.nav-second-level.nav-up {
	transform: translateY(-100%);
	margin-top: 41px;
}

.nav-tabs {
	border-bottom: 1px solid srgb(148, 168, 187);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	color: #fff;
	background-color: #f18135;
	border-radius: 10px 10px 0px 0px;
}

.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 0;
	color: #253042;
}

.nav-tabs .dropdown .badge {
	color: #fff;
	background-color: #546474;
}

.nav-tabs .active-color .badge {
	color: #72879b;
	background-color: #ffffff;
}

.navbar-brand {
	padding: 13px 0px 0px 70px;
	margin-left: 0px;
	width: 135px;
	height: 22px;
}

.navbar-brand > img {
	display: inline-block;
	width: 135px;
	height: 22px;
	margin-left: 20px;
}

.row {
	margin-top: 5px;
}

form.filters {
	margin-top: 0px;
	padding: 0px 5px 5px;
}

.filters select,
.filters textarea,
.filters input[type='text'],
.filters input[type='password'],
.filters input[type='datetime'],
.filters input[type='datetime-local'],
.filters input[type='date'],
.filters input[type='month'],
.filters input[type='time'],
.filters input[type='week'],
.filters input[type='number'],
.filters input[type='email'],
.filters input[type='url'],
.filters input[type='search'],
.filters input[type='tel'],
.filters input[type='color'],
.filters .uneditable-input {
	width: 100%;
	border-radius: 4px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}

.filters hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

input[type='file'] {
	border: 0px;
	width: auto;
}

.form-control {
	width: 70% !important;
}

.bs-searchbox .form-control {
	width: 100% !important;
}

.dojo-input-group {
	width: 73%;
	z-index: 1;
}

.home-icon a {
	padding: 0 !important;
}

.hilite,
.hilite1 {
	background: #ff0;
}

.hilite2 {
	background: #a9dba9;
}

.hilite3 {
	background: #f89406;
}

.hilite4 {
	background: #f8b9b7;
}

.hilite5 {
	background: #bce8f1;
}

#swagger-ui-container h2 {
	font-size: 20px;
	line-height: 20px;
	padding: 0;
}

#swagger-ui-container h3 {
	font-size: 15px;
	line-height: 20px;
	padding: 0;
}

#swagger-ui-container .footer {
	display: none !important;
}

div#header {
	background: #fff;
}

.zero {
	border: 0 !important;
	padding: 0 !important;
	width: 0 !important;
}

body #header form#api_selector .input input#input_apiKey {
	width: 500px;
}

.prod_name {
	padding-right: 15px;
	white-space: nowrap;
	width: 1px;
}

.breadcrumb a.active {
	color: #253042 !important;
}

.badge.badge-count {
	background-color: #d9534f;
}

.badge.badge-count.badge-count0 {
	background-color: #5cb85c;
}

.dropdown-toggle-h {
	display: none;
	visibility: hidden;
}

a.eng_link {
	margin-bottom: 10px;
}

.ui-helper-reset {
	font-size: 96%;
}

#tabs.ui-widget {
	font-size: 0.8em;
}

form.metric_form,
form.metric_form select,
form.metric_form p,
form.metric_form ul,
form.metric_form ul li {
	list-style-type: none;
	font-size: 11px;
}

form.metric_form label {
	font-size: 11px;
}

form.metric_form input[type='submit'] {
	vertical-align: text-bottom;
}

form.metric_form p label {
	font-weight: 700;
}

.filters .panel-body {
	padding: 5px;
}

.filters .panel-heading {
	border-top: 1px solid #ddd;
}

.filters .panel-heading:first-child {
	border-top: 0px solid #ddd;
}
.panel-heading {
	max-height: 103px;
}
.panel-blue .panel-heading,
.panel-blue {
	color: #f5f5f5;
	background-color: #546474 !important;
	border-color: #546474 !important;
	border-radius: 10px !important;
}
.panel-footer {
	position: relative;
	top: 21px;
}
.panel-blue a {
	color: #546474;
}
.panel-red {
	background-color: #d9534f !important;
}
.panel-green {
	background-color: #5cb85c !important;
}
.panel-yellow {
	background-color: #f0ad4e !important;
}
.panel-red > .panel-heading {
	border-radius: 10px !important;
}
.panel-yellow > .panel-heading {
	border-radius: 10px !important;
}
.panel-green > .panel-heading {
	border-radius: 10px !important;
}
.panel-blue a:hover {
	color: #38434d;
}

.nowrap {
	white-space: nowrap;
}

.metrics-chart {
	height: 300px;
}

.metrics-half-chart {
	height: 300px;
	width: 460px;
	display: inline-block;
	margin-bottom: 40px;
}

.table-400 {
	width: 40%;
}

.table-600 {
	width: 66%;
}

.table-full {
	width: 100%;
}

.metric-half {
	display: inline-block;
	vertical-align: top;
	width: 38%;
}

.field-help-text {
	display: block;
	font-size: 75%;
	margin: -10px 1px 10px;
}

.error-page-box {
	display: inline-block;
	vertical-align: middle;
	padding-right: 25px;
}

.inline-block {
	display: inline-block;
}

a.search-finding {
	color: #09d;
}

.no-bullets {
	list-style: none;
}

.inline-form,
.inline-label {
	display: inline;
}

div#upload-risk form select[multiple='multiple'] {
	height: 400px;
	width: auto;
}

.controls.file label {
	width: 20%;
	text-align: center;
}

.protip {
	text-align: center;
	margin-bottom: 10px;
}

.control-group input[type='file'] {
	display: inline-block;
	width: 0;
}

form#replace_risk_file label {
	text-align: center;
	width: 88px;
}

form#replace_risk_file input[type='file'] {
	display: inline-block;
	width: 0;
}

form ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

form ul#id_accepted_findings {
	list-style: none;
	margin-left: 0;
	overflow: scroll;
	max-height: 500px;
}

form ul#id_accepted_findings li {
	padding: 5px;
}

form ul#id_accepted_findings li:nth-child(odd) {
	background-color: #f0f0f0;
}

div#upload-risk .helptext,
div.show_add_findings_form .helptext {
	display: block;
	font-size: 13px;
	font-style: italic;
	margin: auto;
	text-align: center;
}

a.accept-all-findings {
	cursor: pointer;
}

div.danger-zone {
	padding: 0;
	text-align: center;
}

div.danger-zone h3 {
	margin: 0px;
}

div.danger-zone p {
	margin-top: 10px;
}

.meta_profile {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #f0f0f0;
	border: 1px solid;
	border-color: #d0d0d0;
	border-radius: 4px;
	color: #000;
	padding: 8px 35px 8px 14px;
}

.meta_profile b {
	display: inline-block;
	width: 40%;
}

ul.messages {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #f0f0f0;
	border-radius: 4px;
	margin: 0 0 10px;
	padding: 5px;
}

.messages li {
	display: block;
	font-size: 16px;
	margin: 0 0 2px;
	padding: 2px 3px;
}

.top,
form ul#id_accepted_findings input {
	vertical-align: top;
}

.messages li.warning {
	color: #c09853;
}

.messages li.error {
	color: #b94a48;
}

.Pass,
.messages li.success {
	color: #468847;
}

.pass_fail {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #f89406;
	color: #fff;
	display: inline-block;
	font-size: 11.844px;
	font-weight: 700;
	line-height: 14px;
	padding: 2px 8px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
}

.dojo-sup {
	font-size: smaller;
	vertical-align: super;
}

.Fail {
	background-color: #b94a48;
}

.Pass {
	background-color: #468847;
}

.severity {
	font-size: 80%;
}

.severity-Info {
	background-color: #888888;
}

.severity-Low {
	background-color: #546474;
}

.severity-Medium {
	background-color: #fbe413;
}

.severity-High {
	background-color: #f09835;
}

.severity-Critical {
	background-color: #d9534f;
}

.age-red {
	background-color: #d9534f;
}

.age-green {
	background-color: green;
}

.age-blue {
	background-color: blue;
}

.age-orange {
	background-color: #ee7600;
}

.dojo-search {
	clear: right !important;
	display: inline-block !important;
	float: right !important;
	margin: 0 !important;
}

.pagination {
	margin: 30px;
	display: flex;
	align-items: center;
}
ul.pagination {
	margin-top: 20px;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	background-color: #546474;
	border-color: #546474;
}

.pagination-in-panel {
	margin-left: 10px !important;
	margin-right: 10px !important;
}

#risk_acceptance table form {
	margin: 0;
}

#risk_acceptance table td {
	vertical-align: middle;
}

div.eng_info {
	background-color: #f5f5f5;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin-top: 10px;
	min-height: 135px;
	padding: 7px;
	width: 280px;
}

div.prod_info {
	background-color: #f5f5f5;
	border-radius: 4px;
	margin-top: 10px;
	padding: 10px 0;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-bottom: 10px;
}

br {
	border: 0;
}

.filters h3 {
	font-size: 122% !important;
	line-height: 20px;
	margin: 0px 0 5px 0 !important;
}

.filters .helptext {
	display: none;
}

.table-bordered th {
	background-color: #dcedfb !important;
}

span.report_note {
	display: inline-block;
	font-size: 11px !important;
}

span.report_note * {
	font-size: 11px !important;
}

div.pagination li form {
	display: inline-block;
	margin-left: 3px;
}

div.pagination li form select {
	display: inline-block;
	font-size: 11px;
	width: auto;
}

div.page_select {
	float: left;
}

input#simple_search {
	width: 266px !important;
	height: 34px !important;
	border-radius: 10px 0px 0px 10px !important;
}
.input-group button {
	border-radius: 0px 10px 10px 0px !important;
}

.support-page-wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.support-container {
	display: flex;
	width: 75%;
	margin-bottom: 150px;
}

.support-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1;
	font-size: 16px;
	font-weight: 500;
}

.support-box.shape {
	border-radius: 12px;
	padding: 10px 25px 25px 25px;
	margin: 0px 10px 0px 10px;
	transition: transform 0.5s;
}

.community {
	color: #546474 !important;
	background-color: #e7e7e7 !important;
}

.commercial {
	color: #e7e7e7 !important;
	background-color: #1d4565 !important;
}

.support-box.hover:hover {
	transform: translateY(-10px);
}

.btn-primary.support {
	font-size: 16px;
	font-weight: 500;
	padding: 10px !important;
	border-radius: 6px !important;
	margin: 20px 10px 0px 10px !important;
	border: none !important;
}

.btn-primary.support.dark:hover {
	color: #546474 !important;
	background-color: #f7f7f7 !important;
}

.btn-primary.support.light:hover {
	color: #e7e7e7 !important;
	background-color: #235175 !important;
}

.divider {
	border-bottom: 1px solid;
	margin: 10px 25px 15px 25px;
}

.divider.dark {
	border-color: #546474 !important;
}

.divider.light {
	border-color: #e7e7e7 !important;
}

.dojo-modals-wrapper {
	display: none;
	flex-direction: column;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.footer {
	background-color: #f8f8f8;
	border-top: 1px solid #dcdcdc;
	padding: 30px 0;
}

.footer img {
	opacity: 0.7;
	transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
}

.footer img:hover {
	opacity: 1;
}

.metric-data .row {
	margin-bottom: 40px;
}

.navbar a.brand {
	margin: 0;
	padding: 0;
}

.metric-data .well {
	padding: 7px;
	font-size: 12px !important;
}

.metric-data h4 {
	font-size: 14px;
	font-weight: bold;
}

body.popup {
	padding-top: 0;
}

html,
body,
.container {
	height: 100%;
}

body > .container {
	height: auto;
	min-height: 100%;
}

body #header form#api_selector .input a#explore:hover,
body #header form#api_selector .input a#explore {
	background-color: #09d !important;
}

.controls ul {
	list-style-type: none;
	margin: 0;
}

div.dataTables_wrapper div.dataTables_filter {
	margin: 10px !important;
}

